.TOPO{
    margin-top: 10px;
    border: 1px solid deeppink;
    height: 15vh;
    display: flex;
    justify-content: left;
    align-items: center;
}
.CONTEUDO{
    margin-top: 10px;
    border: 1px solid rgba(25, 194, 143, 0.459);
    height: 55vh;
    width: 30vw;
    display: flex;
    justify-content: left;
    align-items: center;
    float: left;
    
}
.MENU{
    margin: 10px 0 0 0;
    border: 1px solid rgba(11, 173, 194, 0.781);
    height: 55vh;
    width: 37%;
    float: right;
    display: flex;
    justify-content: left;
    align-items: center;

}
.RODAPE{
    margin-top: 10px;
    border: 1px solid rgb(255, 159, 14);
    height: 20vh;
    display: flex;
    justify-content: left;
    align-items: center;

}
.corpo{
    margin: 0 auto 0 auto;
    width: 50%;
    max-width: 51%;

 
}






