.navbar{

    background-color: black;
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
}

.home-img
{
    padding: 0px 0px;
    background-image: url("../img/urso.png");
    background-repeat: no-repeat;
    background-size: 50%;
    height: 10vh;
    width: 30vw;
}

img
{
    margin: 10px 0 52px 10px;
}
.img-content
{
    width: 1px;
    word-wrap: break-word;
}

.img-footer
{
    margin: -20px 0 0 280px;
    height: 4vh;
    width: 2vw;

}