.navbar{

    background-color: black;
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
}

.home-img
{
    padding: 0px 0px;
    background-image: url("../img/urso.png");
    background-repeat: no-repeat;
    background-size: 50%;
    height: 10vh;
    width: 30vw;
}