*{

    margin: 0px;
    border: 0px;

}

.body
{
      font-family:  Helvetica;
      margin: 0px;
}

.conteudo{
    margin-top: 10px;
    border: 1px solid rgba(25, 194, 143, 0.459);
    height: 55vh;
    width: 30vw;
    display: flex;
    justify-content: left;
    align-items: center;
    float: left;
    
}
.corpo{
    margin: 0 auto 0 auto;
    width: 50%;
    max-width: 51%;

 }
